---
import VehicleStats from '@widgets/vehicle-stats/vehicle-stats.svelte';

import { getRemoteAPIVehiclesList } from '@entities/vehicle/api';
import {
	parseVechileEnitiesList,
	mapRemoteAPIVehicleToVehicleEntity,
	filterVehiclesList,
	getStatisticsByVehiclesFilteredList,
} from '@entities/vehicle/utils';

import Layout from '@shared/ui/astro/layouts/main-layout.astro';

export const prerender = false;

// Getting data from remote API
const data = await getRemoteAPIVehiclesList();

// Checking data
if (data === null) {
	Astro.response.status = 404;
	Astro.response.statusText = 'Something went wrong :(';
}

// Mapping data
const vehicles = data!.map(mapRemoteAPIVehicleToVehicleEntity);

// Checking for valid data
try {
	parseVechileEnitiesList(vehicles);
} catch (e) {
	console.log(e);

	Astro.response.status = 404;
	Astro.response.statusText = 'Something went wrong :(';
}

const filteredVicheles = filterVehiclesList(vehicles, Astro.url.search);

const stats = getStatisticsByVehiclesFilteredList(filteredVicheles);
---

<Layout title="Home">
	<main class="p-4 flex flex-col gap-4 md:p-8">
		<h1 class="font-bold text-2xl">Stats</h1>

		<VehicleStats stats={stats} />
	</main>
</Layout>
