---
import Layout from '@shared/ui/astro/layouts/main-layout.astro';
import Button from '@shared/ui/svelte/button/button.svelte';
---

<Layout title="Home">
	<div>Home page</div>
	<Button>Hello</Button>
</Layout>
